run = "bash replit-init.sh && ./bud-run build && ./bud/app --listen '0.0.0.0:3000'"
hidden = ["main"]

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "bash replit-init.sh && ./bud-run build && ./bud/app --listen '0.0.0.0:3000'"]
